.-calendar_side_panel {
   position: absolute;
   background: #fff;
   border-radius: 5px;
   width: auto;
   height: auto;
   margin-left: 170px;
   z-index: 40000;
   padding: 5px 2px;
   margin-top: -62px;
   border: 1px solid #d1d1d1;
   box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
}
.-calendar_container .-calendar {
   display: inline-block;
}
.-calendar_container .-calendar .hasDatepicker > DIV {
   border: none !important;
}
.-update_range {
   min-width: 100px;
   padding: 0 20px;
   margin: 12px 5px;
   height: 25px;
   font-size: 12px;
   line-height: 12px;
   background: #5578e0;
   color: #fff;
   border-radius: 15px;
   border: 1px solid transparent;
   text-transform: uppercase;
}
.-update_range.-disabled {
   opacity: 0.5;
}
