/* Color and Brand Mixers will go in here, to be imported by all Component SCSS files */
.btn {
  text-shadow: none;
  overflow: hidden;
  margin: 0;
  max-width: 100%;
  min-width: 100px;
  height: 39px !important;
  min-height: 39px !important;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  line-height: 13px; }
  .btn.btn-lg {
    height: 42px;
    font-size: 20px;
    line-height: 22px;
    padding: 7px 12px 6px; }
  .btn.btn-primary, .btn.btn-default, .btn.btn-neutral, .btn.btn-danger {
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    font-family: 'PlanerMed', Tahoma, Geneva, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px; }
  .btn:focus, .btn:active, .btn:active:focus, .btn.active:focus {
    box-shadow: none;
    text-shadow: none;
    outline: 0; }
  .btn.btn-primary {
    color: #fff; }
    .btn.btn-primary:hover {
      background-color: #2a9ea8;
      border-color: #2a9ea8; }
  .btn.btn-danger:hover {
    background-color: #871029;
    border-color: #871029; }
  .btn.btn-neutral {
    color: #fff;
    background-color: #98c4c9;
    border-color: #98c4c9;
    cursor: auto; }
    .btn.btn-neutral:hover {
      background-color: #98c4c9;
      border-color: #98c4c9; }
    .btn.btn-neutral span {
      opacity: .75; }
  .btn.btn-ctaleft {
    background-color: #8c8279;
    border-color: #8c8279;
    margin-right: 20px; }
  .btn.btn-stripped {
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    font-size: 13px;
    height: 36px !important;
    min-height: 36px !important;
    background-color: transparent !important;
    border-color: #007681;
    color: #007681;
    border-width: 2px; }
    .btn.btn-stripped:hover, .btn.btn-stripped.selected, .btn.btn-stripped.selected:hover {
      color: #2a9ea8;
      background-color: transparent !important;
      border-color: #2a9ea8; }
    .btn.btn-stripped.active, .btn.btn-stripped.active:hover {
      color: #999;
      cursor: default; }
    .btn.btn-stripped.btn-lg {
      font-size: 24px;
      margin: 0 10px;
      padding: 0; }
    .btn.btn-stripped.btn-sm {
      margin: 0;
      font-size: 12px; }
  .btn .ilicon {
    position: relative;
    top: 0px;
    left: 0px;
    vertical-align: middle;
    outline: none; }
  .btn .ilicon.ilicon-add {
    font-size: 18px;
    padding: 0;
    margin: 0 -7px 0 -2px; }
  .btn .ilicon.ilicon-chevron-down {
    font-size: 13px;
    padding: 2px 0 0 5px;
    margin-right: -3px; }
  .btn span {
    margin: 0;
    padding: 0;
    vertical-align: -1px; }
    .btn span:only-child {
      padding: 0 12px 0 12px; }
  .btn .ilicon + span {
    margin-left: 12px; }

.btn + .btn {
  margin-left: 20px; }

.btn[disabled] {
  color: #fff; }
  .btn[disabled].btn-primary, .btn[disabled].btn-default, .btn[disabled].btn-danger, .btn[disabled].btn-stripped {
    background-color: #b6ada5;
    border-color: #b6ada5;
    opacity: 1; }
  .btn[disabled].btn-neutral {
    color: #fff;
    background-color: #98c4c9;
    border-color: #98c4c9;
    cursor: auto; }
    .btn[disabled].btn-neutral:hover {
      background-color: #98c4c9;
      border-color: #98c4c9; }
    .btn[disabled].btn-neutral span {
      opacity: .75; }

a:hover {
  color: #2a9ea8; }
a.special-link {
  font-family: "Planer", Tahoma, Geneva, sans-serif;
  font-size: 16px;
  text-decoration: underline; }

.requiredLabel {
  margin-left: 5px;
  text-transform: lowercase; }

.form-group {
  margin-bottom: 0px;
  /*    max-width:750px;*/ }

label {
  font-weight: normal;
  width: 100%; }

label.checkbox-inline {
  width: auto !important; }

.input-label {
  width: 100%;
  color: #000;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize; }

.form-control {
  margin-top: 4px; }
  .form-control:focus {
    border: 1px solid #c0c0c0;
    box-shadow: none;
    -webkit-box-shadow: none; }

.charLimit {
  padding-top: 0;
  margin-top: 5px;
  font-size: 10px;
  color: #555; }

.dropdown:focus, textarea:focus {
  outline: 0; }

textarea {
  resize: none; }

.input-group .input-group-addon {
  background-color: transparent;
  border: 1px solid #333;
  border-right: 0;
  height: 30px !important;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0; }
.input-group .form-control {
  border: 1px solid #333;
  padding: 6px 37px 6px 12px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0; }
.input-group .input-group-btn {
  position: relative;
  left: -2px;
  border: 1px solid #333;
  border-left: 0;
  height: 30px !important; }
  .input-group .input-group-btn:last-child > .btn, .input-group .input-group-btn.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border: 1px solid #b6ada5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }
  .input-group .input-group-btn .btn-default {
    background-color: transparent; }
  .input-group .input-group-btn .btn {
    /*            height: 26px;
                margin: 2px 2px 2px 4px;
                border: 0;
                @include border-bottom-radius(4px);
                @include border-top-radius(4px);
                @extend %gradient;
                //box-shadow: 0 0 5px #333;
                padding: 6px 6px 6px 8px;
    
                .ilicon {
                    top: -1px;
                    font-size: 12px;
                }*/ }

.form-group ~ .form-group {
  margin-top: 8px; }

.form-checkbox ~ .form-checkbox {
  margin-top: 0; }

.dropdown.square-drop {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

.dropdown-button.open .dropdown-toggle {
  background-color: #2a9ea8 !important;
  border-color: #2a9ea8 !important; }

.dropdown {
  display: inline; }

.dropdown-button.stripped-select .dropdown-menu {
  position: absolute;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #acacac;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  padding: 0;
  max-height: 185px;
  overflow-y: auto;
  left: auto;
  right: 16px;
  top: 30px;
  /*            min-width:auto;
              max-width:auto;*/ }
  .dropdown-button.stripped-select .dropdown-menu li a {
    white-space: nowrap;
    color: #6e6259;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 14px; }
  .dropdown-button.stripped-select .dropdown-menu li:nth-child(odd) a:hover, .dropdown-button.stripped-select .dropdown-menu li:nth-child(even) a:hover {
    background-color: #2a9ea8;
    color: #fff; }
  .dropdown-button.stripped-select .dropdown-menu li:nth-child(odd) a {
    background-color: #FFF; }
  .dropdown-button.stripped-select .dropdown-menu li:nth-child(even) a {
    background-color: #eeeee6; }
  .dropdown-button.stripped-select .dropdown-menu li:last-child {
    border-bottom: 0; }
  .dropdown-button.stripped-select .dropdown-menu label {
    display: inline-block; }
.dropdown-button.stripped-select .dd-menu-left {
  right: auto;
  left: 16px;
  top: 30px; }

.dropdown-select {
  display: inline-block; }
  .dropdown-select.btn-group {
    border: 1px solid #554741; }
  .dropdown-select.stripped-select {
    display: block; }
    .dropdown-select.stripped-select button {
      background-color: #fff;
      border: 1px solid #acacac;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      height: 33px;
      padding-top: 6px;
      width: 100%; }
      .dropdown-select.stripped-select button .ilicon {
        font-size: 14px;
        right: 14px;
        top: 14px;
        left: auto;
        margin: 0;
        padding: 0; }
    .dropdown-select.stripped-select .dropdown-menu {
      position: absolute;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
      border: 1px solid #acacac;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0;
      -moz-border-radius-bottomright: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -webkit-border-top-left-radius: 0;
      border-top-left-radius: 0;
      -moz-border-radius-topright: 0;
      -webkit-border-top-right-radius: 0;
      border-top-right-radius: 0;
      margin: 0;
      padding: 0;
      max-height: 185px;
      overflow-y: auto; }
      .dropdown-select.stripped-select .dropdown-menu li a {
        white-space: nowrap;
        color: #6e6259;
        font-size: 13px;
        line-height: 13px;
        padding: 12px 14px; }
      .dropdown-select.stripped-select .dropdown-menu li:nth-child(odd) a:hover, .dropdown-select.stripped-select .dropdown-menu li:nth-child(even) a:hover {
        background-color: #2a9ea8;
        color: #fff; }
      .dropdown-select.stripped-select .dropdown-menu li:nth-child(odd) a {
        background-color: #FFF; }
      .dropdown-select.stripped-select .dropdown-menu li:nth-child(even) a {
        background-color: #eeeee6; }
      .dropdown-select.stripped-select .dropdown-menu li:last-child {
        border-bottom: 0; }
      .dropdown-select.stripped-select .dropdown-menu label {
        display: inline-block; }
      .dropdown-select.stripped-select .dropdown-menu li a {
        white-space: normal; }
    .dropdown-select.stripped-select.open > .btn-default.dropdown-toggle {
      background-color: #fff !important; }
  .dropdown-select button {
    font-family: Tahoma, Geneva, sans-serif;
    display: inline;
    font-size: 13px;
    padding: 7px 12px;
    text-align: left;
    background-color: transparent;
    border: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; }
    .dropdown-select button:hover {
      cursor: pointer;
      text-decoration: none; }
      .dropdown-select button:hover .ilicon {
        color: #6e6259; }
    .dropdown-select button:focus {
      outline: inherit; }
    .dropdown-select button.btn-sm {
      background-color: #afafaf;
      border: 0;
      padding: 4px 8px; }
      .dropdown-select button.btn-sm span {
        color: #fff;
        font-size: 12px;
        line-height: 16px; }
      .dropdown-select button.btn-sm .dropdown-select-text {
        width: 75px; }
    .dropdown-select button label, .dropdown-select button .dropdown-select-text, .dropdown-select button .caret {
      color: #007681;
      font-family: Tahoma, Geneva, sans-serif; }
    .dropdown-select button label {
      font-weight: normal;
      margin: 0;
      padding: 0; }
    .dropdown-select button .ilicon {
      color: #007681;
      font-size: 25px;
      position: absolute;
      right: 4px;
      top: 4px; }
      .dropdown-select button .ilicon:hover {
        color: #6e6259; }
    .dropdown-select button .dropdown-select-text {
      /*            min-width:90px;*/
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      text-align: left;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 13px;
      padding-right: 18px;
      /*margin-right: 22px;*/
      width: 100%; }
      .dropdown-select button .dropdown-select-text:focus {
        outline-style: none; }
  .dropdown-select .dropdown-menu {
    position: absolute;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #acacac;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 0;
    max-height: 185px;
    overflow-y: auto;
    left: 0;
    right: 0; }
    .dropdown-select .dropdown-menu li a {
      white-space: nowrap;
      color: #6e6259;
      font-size: 13px;
      line-height: 13px;
      padding: 12px 14px; }
    .dropdown-select .dropdown-menu li:nth-child(odd) a:hover, .dropdown-select .dropdown-menu li:nth-child(even) a:hover {
      background-color: #2a9ea8;
      color: #fff; }
    .dropdown-select .dropdown-menu li:nth-child(odd) a {
      background-color: #FFF; }
    .dropdown-select .dropdown-menu li:nth-child(even) a {
      background-color: #eeeee6; }
    .dropdown-select .dropdown-menu li:last-child {
      border-bottom: 0; }
    .dropdown-select .dropdown-menu label {
      display: inline-block; }

.scroll-fix .dropdown-menu {
  position: fixed;
  margin: 0; }

.searchbar ~ .dropdown {
  /*    display:inline-block;*/
  margin-left: 20px; }

/*
.addfile-btn, .delete-btn, .details-files-toolbar {
    .dropdown-menu {
        box-shadow:0 8px 8px rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.20);
        color:$dropdown-select-color;
        font-size:12px;
        padding:0;
        max-width: 400px;
        margin: 0 5%;
        > li > a {
            padding:10px 14px;
            background-color: $body-bg;
            overflow: hidden;
            text-overflow: ellipsis;
            &.selected {
                color: $brown-primary;
                &:before {
                    content: "\2713";
                    font-size: 14px;
                    text-align: right;
                    float:right;
                    line-height: 0;
                    position: relative;
                    top: 10px;
                    right: -8px;
                }
            }
            &:hover {
                background-color:$brand-primary;
                color: $gray-lighter;
            }
        }
        .divider {
            margin: 0;
            padding: 0;
        }
    }
}
.dropdown-sharedwith {
    position: relative;
    + .dropdown-menu {
        position: fixed;
        width: 178px;
        margin: 0;
    }
}*/

/*# sourceMappingURL=DropdownSelect.css.map */
