@import "../base";
@import "../variables";

$searchbar-button-box-width: 82px;
$searchbar-height: 36px;
$searchbar-icon-box-width: 46px;
$searchbar-width : 355px;

.searchbar{
    box-sizing:border-box;
    margin:0;padding:0;
    white-space:nowrap;
    //width:100%;
    height: $searchbar-height;
    padding:0;
    margin:0 $searchbar-button-box-width 0 0;
    height: $searchbar-height;
    input{
        vertical-align:text-top;
        border:1px solid $brown-primary;
        color: $disabled;
        padding:10px;
        font-size:12px;
        height: $searchbar-height;
        margin: 0;
        width:100%;
    }

    .searchbar-button-box{
        vertical-align:text-top;
        display:inline-block;
        width:$searchbar-button-box-width;
        height: $searchbar-height;
        margin:0;
        padding:0;
        border-top:1px solid $brown-primary;
        border-right:1px solid $brown-primary;
        border-bottom:1px solid $brown-primary;
        text-align:left !important;
        .btn.btn-default {
            text-align:center !important;
            box-sizing:border-box;
            width:33px !important;
            min-width:33px !important;
            max-width:33px !important;
            height:24px !important;
            min-height:24px !important;
            max-height:24px !important;
            padding:0;
            margin:5px 0 0 5px;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            background-color: lighten($body-bg, 5%);
            -moz-box-shadow:    inset 0 -4px 2px #DDD;
            -webkit-box-shadow: inset 0 -4px 2px #DDD;
            box-shadow:         inset 0 -4px 2px #DDD;
            .ilicon{
                top:0;
                left:0;
                margin:0 !important;
                padding:0 !important;
                font-size:16px;
                color:$brown-primary;
            }
        }

    }
}

//add margin to left side if filter icon is the preceding sibling
.filter-box ~ .searchbar {
    margin:0 $searchbar-button-box-width 0 $searchbar-icon-box-width;
}