@import "../base";

.tree {
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    width:100%;
    min-width:100%;
    label {
        margin: 0;
    }
    display:block;
}

.tree-header {
    display:inline-block;
    height: 40px;
    width: 100%;
    min-width:100%;
    button.btn-link {
        &:hover,
            &:active,
            &:focus {
            background-color: inherit;
            border: 0;
        }
    }
    background-color: #A5A5A5;
}

.tree-title {
    padding-top:10px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    width:100%;
    .ilicon{
        padding:0 10px 0 10px;
    }
}

.tree-groups {
    width:100%;
    display:inline-block;
    overflow: hidden;
    top:40px;
    padding: 5px;
}

.tree-group {
    display:inline-block;
    width:100%;
}

.tree-group-title {
    display:block;
    padding: 0;

    label {
        color: #000;
        font-weight: normal;
    }

    input[type="checkbox"] {
        margin: 0 4px;
    }
}

.tree-group-toggle {
    background: none;
    color: #B7ADA4;
    line-height: 1;
    padding: 0;
    font-size: inherit;
    width: 20px;
    vertical-align: inherit;

    &:hover,
        &:focus {
        text-decoration: none;
    }
}

.tree-toggle-open{
    &:before {
        content: "\00a0 \00a0 \00a0 ";
        background-image: url('icon-down.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.tree-toggle-closed{
    &:before {
        content: "\00a0 \00a0 \00a0 ";
        background-image: url('icon-right.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.tree-item-list {
    display:block;
    overflow:hidden;
    width:100%;
    list-style: none;
    margin: 0;
    padding: 0 0 0 25px;

    label {
        color: #000;
        font-weight: normal;
        padding: 0;
        margin-bottom: 0;
    }
}

.tree-item {
    display:block;
    min-height: 0;
    width:100%;

    label{
        width:100%;
        display:inline-block;
    }
}

.tree-item-checkbox {
    vertical-align: text-top;
    margin: 0 !important;
}

.tree-filterlabel{
    padding-left:30px;
    display: inline-block;
    width:100%;
    margin: 0 4px 0 -30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*.tree-no-items {
    color: #ccc;
    display: none;
    font-size: 22px;
    height: 100%;
    margin: 0;
    text-align: center;

    p {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        position: relative;
        top: 50%;
    }

    .has-none & {
        display: block;
    }
}*/
