@import "../base";

.statusbar-success {
  background-color: $brand-selected-state; }

.statusbar-info {
  background-color: $brand-info; }

.statusbar-warning {
  background-color: $brand-warning; }

.statusbar-danger {
  background-color: $brand-danger; }

.statusbar{
    padding:10px;
    color:#000;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    .ilicon{
        margin-right:10px;
        margin-left:10px;
    }
}