$body-bg: #eeeee6;
$body-padding:54px;
$color-shadow: #dedede;
$footer-line-height: 14px;
$footer-height: ($footer-line-height*3);
$full-frame-border-width : 0px;
$header-height:110px;
$row-margin: 20px;
$btn-margin:20px;
$navbar-width:64px;