<<<<<<< HEAD
/* Color and Brand Mixers will go in here, to be imported by all Component SCSS files */
/*no rounded corners*/
/* line 4, jqx.iltreegrid.scss */
.jqx-rc-tl-iltreegrid {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-tr-iltreegrid {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-bl-iltreegrid {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-br-iltreegrid {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-t-iltreegrid {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-b-iltreegrid {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-r-iltreegrid {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-l-iltreegrid {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 4, jqx.iltreegrid.scss */
.jqx-rc-all-iltreegrid {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 6, jqx.iltreegrid.scss */
.jqx-reset-iltreegrid {
  box-sizing: border-box !important;
  width: 100% !important;
}

/* line 11, jqx.iltreegrid.scss */
.jqx-tree-dropdown-root-iltreegrid {
  width: 100% !important;
  font-size: 13px;
  color: #6e6259;
}

/* line 17, jqx.iltreegrid.scss */
.jqx-widget-iltreegrid .jqx-grid-cell-iltreegrid {
  padding: 9px 15px;
  border-color: #d5cbc2;
}

/* line 22, jqx.iltreegrid.scss */
.jqx-tree-item-li-iltreegrid > div {
  width: 100%;
}

/* line 26, jqx.iltreegrid.scss */
.jqx-tree-item-li-iltreegrid {
  border-bottom: 1px solid #d5cbc2;
}
/* line 29, jqx.iltreegrid.scss */
.jqx-tree-item-li-iltreegrid:last-child {
  border-bottom: 0 transparent;
}

/* line 37, jqx.iltreegrid.scss */
.jqx-icon-arrow-right-iltreegrid, .jqx-icon-arrow-down-iltreegrid {
  background-image: none;
  background: none;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'ilicons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 0.1px;
  color: #007681;
  font-size: 10px;
}

/* line 57, jqx.iltreegrid.scss */
.jqx-icon-arrow-right-iltreegrid:before {
  content: "\e649";
}

/* line 62, jqx.iltreegrid.scss */
.jqx-icon-arrow-down-iltreegrid {
  top: 2px;
}
/* line 64, jqx.iltreegrid.scss */
.jqx-icon-arrow-down-iltreegrid:before {
  content: "\e648";
}

/* line 69, jqx.iltreegrid.scss */
.jqx-grid-cell-pinned-iltreegrid {
  background-color: #fff;
  border-right-width: 1px !important;
}

/* line 74, jqx.iltreegrid.scss */
.jqx-widget-content-iltreegrid {
  border-color: #d5cbc2;
  font-size: 16px;
}

/* line 78, jqx.iltreegrid.scss */
.jqx-widget-content-iltreegrid .ilicon {
  font-size: 16px;
}

/*.jqx-widget-iltreegrid */
/* line 82, jqx.iltreegrid.scss */
.jqx-grid-column-header-iltreegrid {
  background-color: #6e6259;
  color: #fff;
}

/* line 87, jqx.iltreegrid.scss */
.jqx-widget-iltreegrid .jqx-grid-column-header-iltreegrid > div > div {
  /*.jqx-widget-iltreegrid .jqx-grid-column-header-iltreegrid {*/
  padding-left: 15px;
}

/* line 92, jqx.iltreegrid.scss */
.jqx-fill-state-hover-iltreegrid, .jqx-fill-state-pressed-iltreegrid, .jqx-fill-state-selected-iltreegrid, .jqx-tree-item-li-iltreegrid:hover > div {
  background-color: #2a9ea8;
  color: #fff;
}
/* line 96, jqx.iltreegrid.scss */
.jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-right-iltreegrid, .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-down-iltreegrid, .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-right-iltreegrid, .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-down-iltreegrid, .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-right-iltreegrid, .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-down-iltreegrid, .jqx-tree-item-li-iltreegrid:hover > div .jqx-icon-arrow-right-iltreegrid, .jqx-tree-item-li-iltreegrid:hover > div .jqx-icon-arrow-down-iltreegrid {
  color: #fff;
}

/* line 103, jqx.iltreegrid.scss */
ul.jqx-tree-dropdown-iltreegrid + .jqx-tree-item-li-iltreegrid:hover > div {
  background-color: transparent;
  color: #6e6259;
}

/* line 113, jqx.iltreegrid.scss */
.jqx-cell-iltreegrid {
  color: #6e6259;
}

/* line 121, jqx.iltreegrid.scss */
.jqx-widget-iltreegrid .jqx-cell-ilicon-iltreegrid > div > div {
  padding: 0 !important;
  text-align: center !important;
}

/* line 127, jqx.iltreegrid.scss */
.jqxtreebox.jqx-widget-content {
  border-color: transparent;
}
/* line 131, jqx.iltreegrid.scss */
.jqxtreebox.jqx-grid-iltreegrid {
  border-color: #d5cbc2;
}

/* line 136, jqx.iltreegrid.scss */
.circle:before, .circle:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 141, jqx.iltreegrid.scss */
.circle {
  position: relative;
  height: 12px;
  width: 12px;
  padding: 0;
  background-color: #b71234;
  border-radius: 150px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: block;
}

/* line 155, jqx.iltreegrid.scss */
.circlePop {
  cursor: pointer;
}

/* line 162, jqx.iltreegrid.scss */
.nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-hover-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-pressed-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-selected-iltreegrid:nth-of-type(-n+2) {
  background-color: #2a9ea8;
  color: #fff;
}
/* line 167, jqx.iltreegrid.scss */
.nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-down-iltreegrid {
  color: #fff;
}
/* line 173, jqx.iltreegrid.scss */
.nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-grid-cell-pinned {
  background-color: #f9f9f9;
}
/* line 178, jqx.iltreegrid.scss */
.nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-hover-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-pressed-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-selected-iltreegrid:nth-of-type(-n+2) {
  background-color: #2a9ea8;
  color: #fff;
}
/* line 183, jqx.iltreegrid.scss */
.nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-down-iltreegrid {
  color: #fff;
}
/* line 191, jqx.iltreegrid.scss */
.nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-hover-iltreegrid:nth-of-type(n+3), .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-pressed-iltreegrid:nth-of-type(n+3), .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-selected-iltreegrid:nth-of-type(n+3) {
  background-color: #fff;
}
/* line 194, jqx.iltreegrid.scss */
.nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-hover-iltreegrid:nth-of-type(n+3).jqx-grid-cell-alt, .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-pressed-iltreegrid:nth-of-type(n+3).jqx-grid-cell-alt, .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-selected-iltreegrid:nth-of-type(n+3).jqx-grid-cell-alt {
  background: #f9f9f9;
}
=======
/* Color and Brand Mixers will go in here, to be imported by all Component SCSS files */
/*no rounded corners*/
.jqx-rc-tl-iltreegrid {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px; }

.jqx-rc-tr-iltreegrid {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px; }

.jqx-rc-bl-iltreegrid {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.jqx-rc-br-iltreegrid {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.jqx-rc-t-iltreegrid {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px; }

.jqx-rc-b-iltreegrid {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.jqx-rc-r-iltreegrid {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.jqx-rc-l-iltreegrid {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.jqx-rc-all-iltreegrid {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

.jqx-reset-iltreegrid {
  box-sizing: border-box !important;
  width: 100% !important; }

.jqx-icon-arrow-right-iltreegrid, .jqx-icon-arrow-down-iltreegrid {
  background-image: none;
  background: none;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'ilicons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 0.1px;
  color: #007681;
  font-size: 10px; }

.jqx-icon-arrow-right-iltreegrid:before {
  content: "\e649"; }

.jqx-icon-arrow-down-iltreegrid {
  top: 2px; }
  .jqx-icon-arrow-down-iltreegrid:before {
    content: "\e648"; }

.jqx-grid-cell-pinned-iltreegrid {
  background-color: #fff;
  border-right-width: 1px !important; }

.jqx-widget-content-iltreegrid {
  border-color: #d5cbc2;
  font-size: 16px; }

.jqx-widget-content-iltreegrid .ilicon {
  font-size: 16px; }

/*.jqx-widget-iltreegrid */
.jqx-grid-column-header-iltreegrid {
  background-color: #6e6259;
  color: #fff; }

.jqx-widget-iltreegrid .jqx-grid-column-header-iltreegrid > div > div {
  /*.jqx-widget-iltreegrid .jqx-grid-column-header-iltreegrid {*/
  padding-left: 15px; }

.jqx-widget-iltreegrid .jqx-grid-cell-iltreegrid {
  padding: 9px 15px;
  border-color: #d5cbc2; }

.jqx-tree-item-li-iltreegrid > div {
  width: 100%; }

.jqx-fill-state-hover-iltreegrid, .jqx-fill-state-pressed-iltreegrid, .jqx-fill-state-selected-iltreegrid, .jqx-tree-item-li-iltreegrid:hover > div {
  background-color: #2a9ea8;
  color: #fff !important; }
  .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-right-iltreegrid, .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-down-iltreegrid, .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-right-iltreegrid, .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-down-iltreegrid, .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-right-iltreegrid, .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-down-iltreegrid, .jqx-tree-item-li-iltreegrid:hover > div .jqx-icon-arrow-right-iltreegrid, .jqx-tree-item-li-iltreegrid:hover > div .jqx-icon-arrow-down-iltreegrid {
    color: #fff; }

.jqx-cell-iltreegrid {
  color: #6e6259; }

.jqx-widget-iltreegrid .jqx-cell-ilicon-iltreegrid > div > div {
  padding: 0 !important;
  text-align: center !important; }

.jqxtreebox.jqx-widget-content {
  border-color: transparent; }
.jqxtreebox.jqx-grid-iltreegrid {
  border-color: #d5cbc2; }

.jqx-tree-item-li-iltreegrid {
  border-bottom: 1px solid #d5cbc2; }

.circle:before, .circle:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.circle {
  position: relative;
  height: 12px;
  width: 12px;
  padding: 0;
  background-color: #b71234;
  border-radius: 150px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: block; }

.circlePop {
  cursor: pointer; }

.nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-hover-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-pressed-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-selected-iltreegrid:nth-of-type(-n+2) {
  background-color: #2a9ea8;
  color: #fff; }
.nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-down-iltreegrid {
  color: #fff; }
.nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-grid-cell-pinned {
  background-color: #f9f9f9; }
.nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-hover-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-pressed-iltreegrid:nth-of-type(-n+2), .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-selected-iltreegrid:nth-of-type(-n+2) {
  background-color: #2a9ea8;
  color: #fff; }
.nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-hover-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-pressed-iltreegrid .jqx-icon-arrow-down-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-right-iltreegrid, .nestedTree .jqx-grid-table-iltreegrid tbody tr:nth-child(even) .jqx-fill-state-selected-iltreegrid .jqx-icon-arrow-down-iltreegrid {
  color: #fff; }
.nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-hover-iltreegrid:nth-of-type(n+3), .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-pressed-iltreegrid:nth-of-type(n+3), .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-selected-iltreegrid:nth-of-type(n+3) {
  background-color: #fff; }
  .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-hover-iltreegrid:nth-of-type(n+3).jqx-grid-cell-alt, .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-pressed-iltreegrid:nth-of-type(n+3).jqx-grid-cell-alt, .nestedTree .jqx-grid-table-iltreegrid tbody tr td.jqx-fill-state-selected-iltreegrid:nth-of-type(n+3).jqx-grid-cell-alt {
    background: #f9f9f9; }

/*# sourceMappingURL=jqx.iltreegrid.css.map */
>>>>>>> 997a0ae48087bb8af679758d3c3a4991cd3b730f
